@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&display=swap');

html, body, #root, #container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header {
    z-index: 4;
    position: fixed;
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: rgb(86, 34, 226);
    display: flex;
    justify-content: space-between;
    font-family: 'Golos Text', sans-serif;
    font-size: 1.5em;
    padding: 0.8em;
    user-select: none;
    height: auto;
}

#icons {
    margin-right: 2em;
}


#name {
    display: inherit;
}

#l0, #l8, #l11 {
    transition: 0.5s;
}
.animan {
    transition: 0.2s;
}

#name:hover > #l8 {
    transform: translate(-3em);
    transition: all 0.05s;
}
#name:hover > .animan {
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    transition: all 0.1s;
}
#wave-svg {
    position: fixed;
    top: 4em;
    z-index: 3;
}

.header-icon {
    transition: all 0.1s;
    &:hover {
        font-size: 1.2em;
        transition: all 0.1s;
    }
}